# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGO_URI=mongodb://admin:admin123@ac-sk9nyft-shard-00-00.iicfbwa.mongodb.net:27017,ac-sk9nyft-shard-00-01.iicfbwa.mongodb.net:27017,ac-sk9nyft-shard-00-02.iicfbwa.mongodb.net:27017/?ssl=true&replicaSet=atlas-8qcoji-shard-0&authSource=admin&retryWrites=true&w=majority&appName=smart-canteen-cluster

# AI Model Configuration
AI_API_URL=http://localhost:5001
USE_AI_MODEL=true
